.cardContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5em;
    box-sizing: border-box;
    overflow-x: hidden;
}

.mainCardContainer{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
}





